{% extends "base.html" %}
{% load static %}

{% block title %} Repuestos{% endblock %}

{% block content %} 

<h2 class="text-center mt-5">Lista de Productos </h2>
<div class="container my-5">
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
        {% for p in productos %}
            <div class="col">
                <a href="{% url 'detalle_producto' p.id %}" class="text-decoration-none text-dark">

                    <div class="card h-100 shadow p-3 mb-5 bg-white rounded border-0 card-hover">
                        <img src="{% static 'img/productos/' %}{{ p.imagen }}" class="card-img-top" alt="imagengenerica">
                        
                        <div class="card-body">
                            <h5 class="card-title">{{ p.nombre }}</h5>
                            <p class="card-text">{{ p.descripcion }}</p>
    
                            
                            {% if p.stock > 0 %}
                                <span class="badge bg-success mb-2">Disponible: {{ p.stock }}</span>
                            {% else %}
                                <span class="badge bg-danger mb-2">Agotado</span>
                            {% endif %}
                        
                            <h4 class="text-primary fw-bold">${{ p.precio }}</h4>
                        </div>
    
                        <div class="card-footer bg-transparent border-0 pb-3">
                            <button class="btn btn-primary w-100 {% if p.stock == 0 %}disabled{% endif %}">
                                <i class="bi bi-cart-plus"></i> Añadir al carrito
                            </button>
                            
                            <button class="btn btn-outline-secondary w-100 mt-2">
                                <i class="bi bi-eye">
                                    Ver Detalles
                                </i>
                            </button>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}        
    </div>
</div>

<nav aria-label="Navegación de páginas" class="mt-5">
    <ul class="pagination justify-content-center">
        
        {% if productos.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1{% if query %}&q={{ query }}{% endif %}">&laquo; Primero</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ productos.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">Anterior</a>
            </li>
        {% endif %}

        <li class="page-item active">
            <span class="page-link">{{ productos.number }}</span>
        </li>

        {% for num in productos.paginator.page_range %}
            {% if num > productos.number and num <= productos.number|add:3 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}{% if query %}&q={{ query }}{% endif %}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if productos.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ productos.next_page_number }}{% if query %}&q={{ query }}{% endif %}">Siguiente</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ productos.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}">Último &raquo;</a>
            </li>
        {% endif %}

    </ul>
</nav>
{% endblock %}
