{% extends "base.html" %}
{% load static %}

{% block title %} Lista de Productos - Mercasti {% endblock %}

{% block content %} 

<h2 class="text-center mt-5">Lista de Productos </h2>
<div class="container my-5">
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
        {% for p in productos %}
            <div class="col">
                <div class="card h-100 shadow p-3 mb-5 bg-white rounded border-0 card-hover">
                    <img src="{% static 'img/productos/' %}{{ p.imagen }}" class="card-img-top" alt="imagengenerica">
                    
                    <div class="card-body">
                        <h5 class="card-title">{{ p.nombre }}</h5>
                        <p class="card-text">{{ p.descripcion }}</p>

                        
                        {% if p.stock > 0 %}
                            <span class="badge bg-success mb-2">Disponible: {{ p.stock }}</span>
                        {% else %}
                            <span class="badge bg-danger mb-2">Agotado</span>
                        {% endif %}
                    
                        <h4 class="text-primary fw-bold">${{ p.precio }}Precio</h4>
                    </div>

                    <div class="card-footer bg-transparent border-0 pb-3">
                        <button class="btn btn-primary w-100 {% if p.stock == 0 %}disabled{% endif %}">
                            <i class="bi bi-cart-plus"></i> Añadir al carrito
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
